# Required
PRIVATE_KEY=your_private_key_here # pk

# Network Configuration
RPC_URL=https://mainnet.base.org # main / prod
TEST_RPC_URL=https://sepolia.base.org # used for testnet
LOCAL_RPC_URL= # local

# Optional
USDC_ADDRESS=                    # Leave empty to deploy FriendUSD
DLN_SOURCE_ADDRESS=              # Required for FriendPool (debridge dln addr)
AUTHORITY_ADDRESS=               # Defaults to deployer if not set
ETHERSCAN_API_KEY=your_key_here  # For verification (if needed, leave empty or wrong if not needed)